.main {
  min-height: 600px; }

.first-catalog {
  display: flex;
  flex-flow: column;
  text-align: center; }
  .first-catalog__title {
    padding: 15px 0;
    font-size: 24px; }
  .first-catalog__marks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .first-catalog__item {
    display: flex;
    margin-right: 20px; }
  .first-catalog__img {
    height: 160px; }
  .first-catalog__link {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #4b4b4b;
    font-weight: 600;
    line-height: 1.66;
    font-size: 16px;
    border: 2px solid transparent;
    border-bottom-color: #e3e3e3; }
    .first-catalog__link:hover {
      color: #C00002;
      border-bottom-color: #C00002; }

.first-banner {
  display: flex;
  text-align: center;
  z-index: 0; }
  .first-banner__img {
    max-width: 100%;
    height: auto; }
  .first-banner__link {
    display: flex;
    justify-content: center;
    align-items: flex-start; }

.phone-block {
  background-color: #e3e3e3;
  margin-top: 30px;
  padding: 15px 0; }
  .phone-block__title {
    font-size: 24px; }
  .phone-block__content {
    display: flex;
    flex-flow: column;
    align-items: center; }
    .phone-block__content div {
      padding: 5px 0; }
  .phone-block__form {
    display: flex; }
    .phone-block__form input {
      height: 40px;
      border: 1px solid #C00002;
      padding-left: 10px;
      font-size: 16px;
      color: #4b4b4b;
      width: 80%;
      display: block; }
      @media only screen and (max-width: 479px) {
        .phone-block__form input {
          width: 70%; } }
    .phone-block__form button {
      color: white;
      background-color: #C00002;
      width: 20%;
      display: block;
      font-size: 16px; }
      @media only screen and (max-width: 479px) {
        .phone-block__form button {
          width: 30%; } }

.breadcrumbs-block {
  padding: 10px;
  color: #4b4b4b;
  font-size: 16px;
  border-bottom: 1px solid #e3e3e3; }
  .breadcrumbs-block__list {
    display: flex;
    flex-flow: row; }
  .breadcrumbs-block__item {
    display: flex;
    flex-flow: row; }
    .breadcrumbs-block__item a {
      color: #4b4b4b;
      display: block; }
      .breadcrumbs-block__item a:hover {
        color: #C00002; }
    .breadcrumbs-block__item span {
      display: block;
      color: #C00002; }
    .breadcrumbs-block__item:before {
      content: '/';
      display: block;
      padding: 0 5px; }
    .breadcrumbs-block__item:first-child:before {
      content: ''; }

.red {
  color: white;
  background-color: #C00002; }

.button {
  font-size: 16px;
  display: block;
  line-height: 1.88;
  height: 40px;
  padding: 1px 20px; }

.button:hover {
  cursor: pointer;
  background-color: #E03838; }

.list {
  font-size: 16px; }
  .list li {
    padding: 2px 0; }
  .list li:before {
    padding-right: 10px;
    content: "\ea10";
    font-family: icomoon !important;
    color: #C00002; }

.grey {
  background-color: #e3e3e3; }

.link {
  color: #C00002; }

.link:hover {
  text-decoration: underline; }

.btn-sent {
  color: white;
  background-color: #C00002;
  height: 34px;
  width: 100px;
  cursor: pointer; }
  .btn-sent:hover {
    background-color: #E03838; }

.btn-cancel {
  background-color: #e3e3e3;
  height: 34px;
  width: 100px;
  cursor: pointer; }
  .btn-cancel:hover {
    color: white;
    background-color: #c1c1c1; }

.btn-ok {
  color: white;
  background-color: #C00002;
  height: 34px;
  width: 75px;
  cursor: pointer; }
  .btn-ok:hover {
    background-color: #E03838; }

.red-label {
  color: #C00002; }
