.header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 100;
  position: relative; }
  .header-content {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .header__top {
    padding: 10px 0;
    background-color: #C00002; }
  .header__main {
    padding: 10px 0; }
  .header__phones {
    margin-right: 40px;
    display: flex; }
    @media only screen and (max-width: 991px) {
      .header__phones {
        flex-flow: column;
        margin-right: 0; } }
    .header__phones > * {
      margin-right: 30px; }
      .header__phones > *:last-child {
        margin-right: 0; }
  .header__phone {
    color: #4b4b4b;
    display: block;
    font-size: 24px; }
    @media only screen and (max-width: 991px) {
      .header__phone {
        padding: 5px 0; } }
  .header__logo {
    margin-right: 10px; }
  .header__bottom {
    background-color: #e3e3e3; }
  .header__info {
    display: flex;
    flex-flow: column;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .header__info {
        width: 100%; } }
    @media only screen and (max-width: 767px) {
      .header__info:last-child {
        display: none; } }
  .header__search {
    padding: 10px 0 10px;
    width: 100%; }
  .header__timetable {
    padding: 15px 0 5px;
    font-size: 16px; }
  .header__title {
    min-width: 220px;
    font-size: 24px;
    margin-right: 20px;
    padding: 0 0 10px; }
    @media only screen and (max-width: 767px) {
      .header__title {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0 0; } }
  @media only screen and (max-width: 767px) {
    .header__name-phone {
      display: flex;
      flex-flow: column; } }
  .header__logo-mobile {
    display: none;
    margin-right: 10px; }
    @media only screen and (max-width: 767px) {
      .header__logo-mobile {
        display: block; } }
    .header__logo-mobile img {
      height: 90px;
      display: block; }
  .header__title-phone {
    display: none;
    padding: 10px 0; }
    .header__title-phone div:first-child {
      margin-right: 10px;
      padding-bottom: 5px; }
    @media only screen and (max-width: 767px) {
      .header__title-phone {
        display: flex;
        flex-flow: wrap; } }

.header-nav__list {
  display: flex;
  text-align: center; }

.header-nav__item {
  margin-right: 30px; }
  .header-nav__item:last-child {
    margin-right: 0; }

.header-nav__link {
  font-size: 14px;
  line-height: 1.67;
  color: white; }

@media only screen and (max-width: 767px) {
  .logo {
    display: none; } }

.logo__img {
  height: 90px; }

.search {
  display: flex; }
  .search__input {
    width: calc(80% - 20px);
    height: 40px;
    display: block;
    border: 1px solid #C00002;
    padding-left: 15px;
    font-size: 16px;
    color: #4b4b4b; }
  .search__button {
    width: 20%;
    height: 40px;
    display: block;
    background-color: #C00002;
    color: white;
    font-size: 16px; }

.timetable {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .timetable {
      display: none; } }
  .timetable__label {
    color: #4b4b4b;
    display: flex;
    margin-right: 30px;
    padding: 0 0 10px; }
    .timetable__label:last-child {
      margin-right: 0;
      flex-flow: column;
      align-items: center; }
  .timetable__label-time {
    padding: 0 0 3px; }

.basket {
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .basket {
      display: none; } }
  .basket__img {
    height: 60px; }
  .basket__title {
    padding: 0 0 20px; }

.bottom-nav__list {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .bottom-nav__list {
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 260px;
      height: 100vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      visibility: hidden;
      background: #1e262c; } }

.bottom-nav__item {
  margin-right: 40px; }
  .bottom-nav__item:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 991px) {
    .bottom-nav__item {
      margin-right: 40px; }
      .bottom-nav__item:last-child {
        margin-right: 40px; } }

.bottom-nav__link {
  border: 2px solid transparent;
  padding: 10px 0;
  display: block;
  line-height: 1.88;
  color: #4b4b4b; }
  .bottom-nav__link:hover {
    border-bottom-color: #C00002; }
  @media only screen and (max-width: 991px) {
    .bottom-nav__link {
      padding: 0 15px;
      display: block;
      font-size: 24px;
      font-weight: 500;
      border-bottom: 1px solid #33414a;
      color: #ffffff; } }

.bottom-nav__list-phone {
  height: 54px;
  font-size: 30px;
  display: none;
  padding: 10px 0; }
  @media only screen and (max-width: 991px) {
    .bottom-nav__list-phone {
      display: block; } }

.cd-nav-trigger {
  position: relative;
  outline: none;
  display: block;
  width: 35px; }
  .cd-nav-trigger span {
    outline: none;
    display: block;
    height: 2px;
    width: 25px;
    background: #4b4b4b; }
  .cd-nav-trigger:before {
    outline: none;
    margin-top: 6px;
    margin-bottom: 7px;
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background: #4b4b4b; }
  .cd-nav-trigger:after {
    outline: none;
    margin: 7px 0;
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background: #4b4b4b; }

.nav-is-visible {
  visibility: visible; }

.open {
  position: fixed;
  left: 225px;
  z-index: 30;
  top: 10px; }
  .open span {
    display: none; }
  .open:before {
    background: white;
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); }
  .open:after {
    margin-top: -9px;
    background: white;
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg); }
