composer.bat
composer.phar
/node_modules

###> symfony/framework-bundle ###
/.idea/workspace.xml
/.env
/public/bundles/
/public/img/products/
/public/img/brands/
/public/img/thumbs/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
