RewriteEngine On

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
Redirect 301 https://part-store.com.ua/public/ https://part-store.com.ua

RewriteCond %{HTTPS} =off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

Rewritecond %{REQUEST_FILENAME} !-f
RewriteRule (.*) public/$1 [L,NC]

RewriteCond %{REQUEST_URI} !^public
RewriteRule (.*)  public/%1 [L]
