<!DOCTYPE html>
<html>
<head>
    <link type="image/x-icon" rel="shortcut icon" href="/public/favicon.ico">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    {% block metaHelper %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/main.min.css') }}">
    {% endblock %}

</head>
<body>
{% block body %}
    {% block header %}{% endblock header %}
    <main class="main">
        {% block main %}{% endblock main %}
    </main>
    {% block footer %}{% endblock footer %}
    <div class="message mfp-hide" id="success-buy">
        <div class="message-inner">
            <div class="message-inner__info">
                <div class="label-popup">
                    <p>Заявка отправлена.</p>
                    <p> Менеджер свяжется с вами в блажайшее время.</p>
                </div>
                <div class="info-button">
                    <button class="btn-ok popup-modal-dismiss">ОК</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/libs.min.js') }}"></script>
    <script src="{{ asset('/js/common.js') }}"></script>
    <script src="{{ asset('/js/shop.js') }}"></script>
{% endblock %}
</body>
</html>
