{% extends 'layouts/first.html.twig' %}

{% use 'blocks/breadcrumbs.html.twig' %}

{% block main %}

    {% block breadcrumbs %}{{ parent() }}{% endblock %}

        <div class="content-block about-block">
            <div class="container">
                 <div class="content-block__content about-content" >
                      <div class="content-block__title"><h1>О компании</h1></div>
                      <div class="content-block__text">
                           <p>&emsp;Добро пожаловать в интернет-магазин <span class="red-label">PART-STORE</span>. Наш магазин  удивить Вас приятными ценами, отличным обслуживанием и качественным товаром.</p>

                           <p>&emsp;Интернет-магазин <span class="red-label">PART-STORE</span> &ndash; это магазин по продаже различных автомобильных запчастей, аксессуаров и  автомобильной химии.</p>
                           <p>&emsp;Мы работаем только с проверенными поставщиками и качественным товаром. Благодаря курьерским службам, отправляем товар по всей территории Украины.</p><br>
                           <p><a class="link" href="">Способы и стоимость доставки</a></p>
                           <p>&emsp;Для нас важна наша репутация и Ваше доверие. Поэтому мы используем только безопасные способы  оплаты товара.</p><br>
                           <p><a class="link" href="">Способы оплаты</a></p>
                           <p>&emsp;Мы продаем только качественный товар. Перед отправкой весь товар проходит проверку и тщательную упаковку. Весь товар имеет гарантию и если Вы обнаружили брак или повреждение, во время доставки, мы обменяем товар или вернем деньги.</p><br>
                           <p><a class="link" href=""> Гарантия и возврат</a></p>
                           <p>&emsp;Регулярна проверка наличия товара на складе, позволяет нам без задержек и в кротчайшие сроки доставлять товар покупателю. Мы заботимся о наших покупателях, именно поэтому у нас действует система скидок и акций</p>

                      </div>
                 </div>
            </div>
        </div>
{% endblock main %}

