{% extends 'layouts/first.html.twig' %}

{% use 'blocks/breadcrumbs.html.twig' %}

{% block main %}

    {% block breadcrumbs %}{{ parent() }}{% endblock %}

        <div class="content-block">
            <div class="container">
                 <div class="content-block__content" >
                      <div class="content-block__title"><h1>Гарантия</h1></div>
                      <div class="content-block__text">
                           <p>&emsp;В интернет-магазине <span class="red-label">PART-STORE</span> гарантия производителя распространяется на основную массу товаров.
                               В случае предоставления гарантии на товар, данная информация будет указана в карточке товара.
                               Если в карточке товара не указана информация о гарантии - данный товар гарантийному обслуживанию
                               не принадлежит.</p><br>
                          <h2>Возрат</h2>
                          <p>&emsp;Согласно действующему законодательству
                              "Закон о защите прав потребителей" возврат или обмен товара
                              возможен в течении 14 дней после покупки.
                              Обмен и возврат товаров надлежащего качества осуществляется в течении 14
                              дней со дня продажи при условии сохранении товарного вида купленного оборудования,
                              упаковки, и наличии документов, подтверждающих факт покупки. Доставку товара в пункт
                              обмена оплачивает покупатель.</p>
                          <p><span class="red-label">&emsp;Если Вам не подошел товар, и вы хотите его вернуть - мы вернем Вам деньги на следующий день после получения возврата.</span></p>
                          <p><span class="red-label">&emsp;Обращаем ваше внимание, что на следующий день после возврата товара мы возвращаем Вам деньги тем же способом оплаты, что платили вы, и на то же имя, которые были указаны в заказе.</span></p><br>
                          <p>Чтобы использовать эту возможность, пожалуйста, убедитесь что:</p>
                          <ul class="list-content">
                              <li>товар, не был в употреблении и не имеет следов использования: царапин, сколов, потёртостей и т. п.</li>
                              <li>товар полностью укомплектован и не нарушена целостность упаковки</li>
                              <li>сохранены все ярлыки и заводская маркировка.</li>
                              <li>приложен документ (накладная, товарный чек) о покупке в интернет-магазине <span class="red-label">PART-STORE.COM.UA</span></li>
                          </ul><br>
                      </div>
                 </div>
            </div>
        </div>
{% endblock main %}

