{% block banner %}
    <div class="first-banner">
        <a class="first-banner__link" href="#">
            <img class="first-banner__img" src="{{ asset('/img/design/2016-speed-road-audi-tt.jpg') }}">
        </a>
    </div>
{% endblock %}