{% block catalog %}
    <div class="main__first-catalog first-catalog">
        <div class="container">
            <div class="first-catalog__title">Каталог автозапчастей</div>
            <div class="first-catalog__marks" >
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
                <div class="first-catalog__item">
                    <a href="#" class="first-catalog__link">
                        <img src="img/che-300.jpg" class="first-catalog__img" >
                        <span class="first-catalog__name">Chevrolet</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}