{% block catalog %}
    <div class="main__first-catalog first-catalog">
        <div class="container">
            <div class="first-catalog__title">{{ data.catalog.name }}</div>
            <div class="first-catalog__marks" >
                {% for key,item in data.catalog.items %}
                    <div class="first-catalog__item">
                        <a href="{{ getCatalogUrl(item,data.catalog_type) }}" class="first-catalog__link">
                            <img src="{{ asset('/img/brands/'~item.image)|imagine_filter('catalog_item_main') }}" class="first-catalog__img" >
                            <span class="first-catalog__name">{{ item.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}