{% block feedback%}
    <div class="phone-block">
        <div class="container">
            <div class="phone-block__content">
                <div>
                    <div class="phone-block__title">
                        Не нашли запчасть? Оставьте номер и мы поможем вам.
                    </div>
                    <div class="phone-block__form">
                        <input id = "input-phone" type="text" placeholder="Номер телефона">
                        <button class="button-feedback">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}