{% block header %}
<header class="header">
    <div class="header__main">
        <div class="container">
            <div class="header-content">
                <div class="header__logo logo">
                    <img class="logo__img" src="{{ asset('/img/design/logo.png') }}" alt="logo part-store" >
                </div>
                <div class="header__info">
                    <div class="header__title">
                        <div class="header__logo-mobile">
                            <img src="{{ asset('/img/design/logo.png') }}" alt="logo part-store">
                        </div>
                        <div class="header__name-phone">
                            <div>Интернет-магазин автозапчастей</div>
                            <div class="header__title-phone">
                                <div>+38(063)9231166</div>
                                <div>+38(066)6197821</div>
                            </div>
                        </div>
                    </div>
                    <div class="header__search search">
                        <input class="search__input" type="text">
                        <button class="search__button">Найти</button>
                    </div>
                </div>
                <div class="header__info">
                    <div class="header__phones">
                        <div class="header__item">
                            <a href="#" class="header__phone">+38(063)9231166</a>
                        </div>
                        <div class="header__item">
                            <a href="#" class="header__phone">+38(066)6197821</a>
                        </div>
                    </div>
                    <div class="header__timetable timetable">
                        <div class="timetable__label">
                            График работы:
                        </div>
                        <div class="timetable__label">
                            <div class="timetable__label-time">Пн-Пт: 8:45 до 21:00</div>
                            <div class="timetable__label-time">Сб-Вс: 9:00 до 18:00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__content">
                <nav class="header__bottom-nav bottom-nav ">
                    <ul class="bottom-nav__list">
                        <li class="bottom-nav__item">
                            <a href="/" class="bottom-nav__link">Каталог</a>
                        </li>
                        <li class="bottom-nav__item">
                            <a href="/about" class="bottom-nav__link">О компании</a>
                        </li>
                        <li class="bottom-nav__item">
                            <a href="/delivery" class="bottom-nav__link">Доставка</a>
                        </li>
                        <li class="bottom-nav__item">
                            <a href="#" class="bottom-nav__link">Гарантии</a>
                        </li>
                        <li class="bottom-nav__item">
                            <a href="/contacts" class="bottom-nav__link">Контакты</a>
                        </li>
                    </ul>
                    <div class="bottom-nav__list-phone">
                        <a href="#" class="cd-nav-trigger"><span></span></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock %}