{% block product_desc %}
    <div class="product-addition">
        <div class="container">
            <div class="product-addition__description description">
                <div class="description__title title"> <i class="icon-file-text2"></i>Описание</div>
                <div class="description__main">
                    {% if data.product.models is not empty %}
                        Данный товар подходит для моделей: {% for model in data.product.models%}{{ model.name }}{% if loop.last!=1 %}, {% endif %}{% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="message mfp-hide" id="success-buy">
        <div class="message-inner">
            <div class="message-inner__info">
                <div class="label-popup">
                    <p>Заявка отправлена.</p>
                    <p> Менеджер свяжется с вами в блажайшее время.</p>
                </div>
                <div class="info-button">
                    <button class="btn-ok popup-modal-dismiss">ОК</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}