@import "vars";
.content-block {
  &__content {
    display: flex;
    flex-flow: column;
  }
  &__title {
    font-size: $big-font-size;
    padding: 10px 0;
    font-size: 40px;
  }
  &__text {
    font-size: $little-font-size;
    padding: 10px 0;
    line-height: 1.67;
  }
}

.about-block {
  background: url('../img/design/audi-about.jpg') no-repeat;
  background-size: cover;
  @include mq('tablet', max) {
    background:none;
  }
}
.about-content {
  width:60%;
  @include mq('tablet', max) {
    width: 100%;
  }
}