@import "vars";
.main {

}

.first-catalog {
  display: flex;
  flex-flow: column;
  text-align: center;
  &__title {
    padding: 15px 0;
    font-size: 24px;
  }
  &__marks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

  }
  &__item {
    display: flex;
    margin-right: 20px;

  }
  &__img {
    height: 160px;
  }
  &__link {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: $header-top-font;
    font-weight: 600;
    line-height: 1.66;
    border: 2px solid transparent;
    border-bottom-color: $header-top;

    &:hover{
      color: $mainRed;
      border-bottom-color: $mainRed;
    }
  }
}

.first-banner{
  display: flex;
  text-align: center;
  z-index: 0;
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.phone-block{
  background-color: $header-top;
  margin-top: 10px;
  padding: 15px 0;
  &__title {
    font-size: $big-font-size;
  }
  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    div{
      padding: 5px 0;
    }
  }

  &__form {
    display: flex;
    input {
      height: 40px;
      border:1px solid $mainRed;
      padding-left: 10px;
      font-size: 16px;
      color: $header-top-font;
      width: 80%;
      display: block;
    }
    button{
      color:white;
      background-color: $mainRed;
      width: 20%;
      display: block;
      font-size: 16px;
    }


  }
}