@import "vars";

.footer {
  margin-top: 40px;
  &__main {
    padding: 15px 0;
    background: $header-top;
    font-size: 14px;
    line-height: 1.67;
    color: $header-top-font

  }
  &__content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:space-between;
    @include mq('phone', max) {
      justify-content:space-around;
    }
  }

  &__contacts {
    display: flex;
    flex-flow: row;
    align-items: center;
    div {
      margin-right: 10px;
    }
  }
  &__menu {
    @include mq('phone', max) {
      display: none;

    }
  }
  &__link{
    display: block;
    color:$header-top-font;
    cursor: pointer;
    &:hover{
      color:$mainRed;
    }
  }
  &__timetable {
    @include mq('phone', max) {
      display: none;
    }
  }
  &__callback {
    input {
      border: 1px solid $mainRed;
      height: 24px;
      padding-left:10px;
    }
    @include mq('phone-small', max) {
      display: none;
    }
  }
}

.callback {
  align-items: center;

  &__title {
     padding: 5px 0;

   }
  &__input {

  }
  &__button {
    padding: 5px 0;
    button {
      height: 24px;
      width: 100%;
    }
  }
}

.logo-footer {
  &__img {
    height: 90px;
  }
}