@import "vars";
.product-block {
  &__content {
    display: flex;
    flex-flow: column;
  }
  &__title {
    font-size: $big-font-size;
    padding: 10px 0;
    font-size: 40px;
  }
}
.slider-product {

  &__main {
    margin-bottom: 10px;
    border: 1px solid $mainRed;
    outline: none;
  }
  &__item {
      margin-right: 10px;
      border: 1px solid $mainRed;
      outline: none;
      cursor: pointer;
  }
}

.main-product{
  display: flex;
  flex-wrap: wrap;
  &__img {
    display: block;
    max-width: 530px;
    margin-right: 20px;
  }
}

.product-info{
  display: flex;
  flex-flow: column;
  padding:  0 10px;
  &__presence {
    font-size: $big-font-size;
    color:$green;
  }
  &__buttons {
    padding: 15px 0;
  }
}

.price {
  display: flex;
  align-items: flex-start;
  font-size: $big-font-size;
  padding: 10px 0;
  &__title {
    margin-right: 10px;
  }
  .action {
    font-size: $little-font-size;
    text-decoration: line-through;
    text-decoration-color: $mainRed;
  }
  &__value-action{
    color: $mainRed;
  }
  &__value{
    margin-right: 10px;
  }
  &__block-action {
    background-color: $mainRed;
    color:  white;
    padding: 1px 10px;
  }

}
.information {
  font-size: $little-font-size;
  display: flex;
  flex-flow: column;
  &__block {
    display: flex;
    flex-flow: wrap;
    padding: 5px 0;
  }
  &__title {
    font-weight: 600;
    margin-right: 2px;
  }
}

.helper {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  &__title {
    color:$mainRed;
    padding: 5px 0;
  }
  &__icon {
    padding-right: 5px;
  }
  &__text {
    padding: 0 10px;
  }
}

.product-addition {
  margin-top: 20px;

  .title {
    padding: 10px 0;
    font-size: $big-font-size;
    color:$mainRed;
    i {
      padding-right: 10px;
    }
  }
  .feature {
    display: flex;
    flex-flow: column;

    &__main {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 0;
    }
    &__name {
     font-weight: 600;
      padding-right: 5px;
    }
    &__first-block {
      flex: 1;
    }
    &__second-block {
      flex: 1;
    }
  }
  .description {
    &__main {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
      line-height: 1.67;
    }
  }
}