
//colors
$mainRed:#C00002;
$green:#009A00;
$header-top:#e3e3e3;
$header-top-font:#4b4b4b;
$mainRedHover: #E03838;
$GrayHover: #c1c1c1;

$big-font-size:24px;
$little-font-size:16px;


$breakpoints: (
        "w400":            400px,
        "phone-small":     480px,
        "phone":           768px,
        "tablet":          992px,
        "desktop":         1200px
);


// Media query mixin
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin centerer-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
